<header>
  <div class="container">
    <a href="./index.html">
      <img
        class="logo"
        src="./images/logo.png"
        alt="Логотип сайта"
        width="175px"
        height="50px"
      />
    </a>
    <div class="lang__container">
      <ul class="lang__list">
        <li class="lang__item">ru</li>
        <li class="lang__item is-hidden">md</li>
        <li class="lang__item is-hidden">en</li>
      </ul>
    </div>

    <nav class="navigation">
      <button
        class="menu-button is-open"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          width="40px"
          height="40px"
          aria-label="Переключатель мобильного меню"
        >
          <use class="icon-menu" href="./images/icons.svg#menu"></use>
          <use class="icon-close" href="./images/icons.svg#close"></use>
        </svg>
      </button>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="" class="navigation__item-text">а кто мы?</a>
        </li>
        <li class="navigation__item">
          <span>наш продукт</span>
          <ul class="navigation__product-list">
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">проектирование</a>
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">металлоконструкции</a>
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">крепеж</a>
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link"
                >кровельные и фасадные материалы</a
              >
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">комплектующие</a>
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">монтаж</a>
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link"
                >полнокомплектное здание</a
              >
            </li>
            <li class="navigation__product-item">
              <a href="" class="navigation__product-link">логистика</a>
            </li>
          </ul>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__item-text">объекты</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__item-text">контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="hero">
    <div class="container hero-container">
      <h1>ВСЕМ САЙТАМ САЙТ. КУПИ МЕТАЛЛ</h1>
    </div>
  </section>
  <section class="product">
    <div class="container">
      <h2 class="product__title">наш продукт</h2>
      <ul class="product__list">
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">проектирование</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">металлоконструкции</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">крепеж</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">кровельные и фасадные материалы</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">комплектующие</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">монтаж</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">полнокомплектное здание</p>
          </a>
        </li>
        <li class="product__item">
          <a href="" class="product__link">
            <svg>
              <use></use>
            </svg>
            <p class="product__subtitle">логистика</p>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="objets">
    <div class="container">
      <div class="objects__galleries">
        <p>галерея</p>
        <p>еще галерея</p>
        <a href="" class="objects__btn">смотреть больше объектов</a>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <h2 class="footer__tittle">контакты</h2>
    <div class="footer__ukr-adres">
      <address class="">
        <h3 class="footer__subtittle">офис в Украине</h3>
        <a
          class="footer-address__map footer-address__link"
          href="https://goo.gl/maps/PGVzWAiT83pvc9Qx9"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >02000, г. Киев, ул. Спортивная, 1 БЦ Гулливер</a
        >
      </address>
    </div>
    <div class="footer__contacts">
      <address class="">
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">
            <a class="footer__contacts-link" href=""
              >stdformation.md@gmail.com</a
            >
          </li>
          <li class="footer__addres-item">
            <a class="footer__contacts-link" href="tel:+38-067-408-39-61"
              >+38 067 408 39 61 (укр)</a
            >
          </li>
          <li class="footer__addres-item">
            <a class="footer__contacts-link" href="+373-621-83-035"
              >+373 621 83 035 (мд)</a
            >
          </li>
        </ul>
        <ul>
          <li> <svg class="footer-socials__icon" width="16px" height="16px">
                    <use href="./images/icons.svg#telegram"></use>
                  </svg></li>
          <li><svg class="footer-socials__icon" width="16px" height="16px">
                    <use href="./images/icons.svg#whatsapp"></use>
                  </svg></li></li>
          <li><svg class="footer-socials__icon" width="16px" height="16px">
                    <use href="./images/icons.svg#viber"></use>
                  </svg></li></li>
                 
        </ul>
      </address>
    </div>
    <div class="footer__md-adres">
      <address class="">
        <h3 class="footer__subtittle">офис в Молдове</h3>
        <a
          class="footer-address__map footer-address__link"
          href="https://goo.gl/maps/RjwxjXRK1G7t4zNk8"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >MD-2024, г. Кишинев, ул. Андрей Дога, 32/7 офис 2</a
        >
      </address>
    </div>
  </div>
</footer>
